* {
  box-sizing: border-box;
}

.task4 {
  margin-top: 17rem;
  margin-bottom: 90px;
  font-family: var(--font-family);
}
.task4__select-word {
  border: red solid 1px;
  background-color: white;
  min-height: 46px;
  margin-bottom: 32px;
  grid-column: span 2;
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  padding: 5px;
  font-size: 32px;
}

.task4__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
}
.task4__word-list {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 32px;
}
.task4__workspace {
  min-height: 300px;
  display: flex;
}
.task4__input-word {
  width: 100%;
  display: flex;
  gap: 16px;
  font-size: 32px;
}

.task4__input-word input {
  padding: 10px 15px;
}
.task4__input-word button {
  display: inline-block;
  background: #fff;
  color: #111;
  font-weight: 400;
  border-radius: 10px;
  padding: 12px 18px;
  border: 0;
  cursor: pointer;
}
.form-task {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 50%;
}
.task4__dragzone {
  border: black solid 1px;
  min-height: 100px;
  font-size: 32px;
}

.task4__word-item {
  display: inline-block;
  padding: 8px 42px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f9fa;
  cursor: move;
  user-select: none;
  transition: all 0.2s ease;
  border-radius: 50% 0 0 50%;
}

.task4__word-item.dragging {
  opacity: 0.7;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.task4__dragzone {
  position: relative;
  min-height: 300px;
  border: 2px dashed #ccc;
  padding: 20px;
  background-color: #fafafa;
  margin-top: 20px;
  grid-column: span 2;
  transition: 0.2s ease-in;
  order: 3;
}
.task4__dragzone.drag-over {
  border-color: #007bff;
  background-color: rgba(175, 11, 11, 0.7);
}

.task4__word-list {
  min-height: 60px;
  border: 1px solid #ddd;
  padding: 15px;
  background-color: #fff;
  margin-bottom: 20px;
  width: 100%;
}

.copy {
  position: static !important;
}

@media (max-width: 1023px) {
  .task4 {
    margin-top: 32rem;
    font-family: var(--font-family);
  }
  .task4__select-word {
    gap: 8px;
    margin-bottom: 16px;
    min-height: 48px;
    grid-column: span 1;
    gap: 8px;
  }
  .task4__input-word {
    width: 100%;
    display: flex;
    gap: 16px;
    font-size: 14px;
    button {
      font-size: 16px;
    }
  }
  .task4__content {
    grid-template-columns: 1fr;
  }
  .task4__dragzone {
    grid-column: span 1;
  }
  .task4__workspace {
    order: 1;
    min-height: 120px;
  }
  .form-task {
    width: 100%;
  }
  .task4__word-list {
    order: 2;
  }
}
